* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  /* background-color: rgb(217, 239, 247); */
  background-color: rgb(250, 210, 216);
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.title {
  text-align: center;
  background-color: blue;
  /* border: 8px solid yellow; */
  border: 8px solid #03a9f4;
  color: #fff;
  width: 90%;
  margin: 1rem auto;
  border-radius: 2rem;
  padding: 0.5rem 0;
  animation-name: change-bg-color;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
}
.transition {
  /* background-color: purple; */
  animation-name: trans;
  animation-duration: 2s;
}
h1,
h2,
h3 {
  margin-bottom: 0.3em;
  letter-spacing: 0.05em;
  font-weight: 600;
}
h4 {
  margin-bottom: 0.5em;
  letter-spacing: 0.1em;
  font-weight: 400;
  font-size: 2.2em;
  margin: 1.3rem 0;
  margin-bottom: 2.5rem;
}

/* ===========================================utility classes===================================== */
.lg-heading {
  font-size: 3.5rem;
  /* margin: 1rem 0; */
}
.md-heading {
  font-size: 2.5rem;
  margin: 1rem 0;
}
.sm-heading {
  font-size: 1.8rem;
}
p {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}
.left .set-label,
.right .set-label {
  font-size: 1.8rem;
  font-weight: 600;
  display: block;
  margin-bottom: 0.3rem;
  color: brown;
}
/* label {
    font-size: 1.8rem;
    display: block;
    /* margin-bottom: 0.1rem; 
  } */

.main-container {
  max-width: 1350px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.main-container .left {
  width: 48%;
  /* border: 2px solid red; */
}
.left input[type="text"] {
  width: 100%;
  height: 3.5rem;
  font-size: 1.8rem;
  margin-bottom: 0.5em;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
}
.left input[type="text"]:focus {
  padding: 2.2rem 0.5rem;
  border-radius: 0.7rem;
  outline: none;
  border: 3px solid blue;
  background-color: khaki;
}

.main-container .right {
  width: 48%;
}

.right textarea,
.left textarea {
  width: 100%;
  height: 6rem;
  font-size: 1.8rem;
  margin: 0.5 0;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
}

.left textarea:focus {
  background-color: khaki;
  padding: 0.5rem;
  height: 8rem;
  outline: none;
  border: 3px solid blue;
}
.right textarea:focus {
  background-color: khaki;
  padding: 0.5rem;
  height: 8rem;
  outline: none;
  border: 3px solid blue;
}
.form-control {
  margin-bottom: 0.5rem;
}
.pictureField {
  margin-top: 1rem;
}
.right input[type="button"] {
  display: block;
  margin: auto;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.8rem;
  border-radius: 0.9rem;
  border: 4px solid brown;
  background-color: deepskyblue;
  color: #fff;
  cursor: pointer;
}
.btn input[type="button"] {
  display: block;
  /* border: 3px solid red; */
  margin: 2rem auto;
  padding: 0.5em 1.2em;
  font-size: 1.8rem;
  border-radius: 0.9rem;
  border: 4px solid brown;
  background-color: deepskyblue;
  color: #fff;
  cursor: pointer;
}

/* =======================================cv template==================================================== */
#cv-template {
  display: none;
}
.myimage {
  border-radius: 50%;
  width: 220px;
}
.main-container2 {
  max-width: 1350px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  /* border: 5px solid red; */
  /* background-color: grey; */
  margin-top: 2rem;
}
hr {
  margin-bottom: 2rem;
  height: 0.3rem;
  background-color: khaki;
}
.leftside {
  width: 35%;
  /* border: 3px solid green; */
  background-color: deepskyblue;
  /* justify-content: center; */
  text-align: center;
  padding: 1rem;
}
.leftside img {
  width: 220px;
  border: 7px solid khaki;
  border-radius: 50%;
  margin: 1.3rem auto;
}
.rightside {
  width: 65%;
  /* border: 3px solid green; */
  background-color: khaki;
  /* text-align: center; */
  padding: 1rem;
}
.rightside h1 {
  text-align: center;
}
.card {
  margin-bottom: 3rem;
}
.card-header {
  background-color: deepskyblue;
  width: 100%;
  height: 4rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.card-header h2 {
  text-align: left;
  padding: 0.5rem 1rem;
}
.card-body li {
  font-size: 1.8rem;
  margin: 1rem 2rem;
}
.rightside input[type="button"] {
  background-color: deepskyblue;
  display: block;
  margin: 1rem auto;
  padding: 0.5em 1.2em;
  font-size: 1.8rem;
  border-radius: 0.9rem;
  /* background-color: black; */
  border: 4px solid brown;
  color: #fff;
  cursor: pointer;
}
@keyframes change-bg-color {
  from {
    /* background-color: cornflowerblue; */
    background-color: blue;
  }
  to {
    /* background-color: salmon; */
    background-color: khaki;
  }
}
@keyframes trans {
  font-size: 5rem;
  font-weight: 900;
}

/* ################################## Media Queries ###########################################3 */
@media (min-width: 0px) and (max-width: 500px) {
  html {
    font-size: 50%;
    background-color: lightblue;
  }
  .main-container {
    display: block;
  }
  .main-container .left {
    width: 100%;
  }
  .main-container .right {
    width: 100%;
  }
  .main-container2 {
    display: block;
  }
  .main-container2 .leftside {
    width: 100%;
  }
  .main-container2 .rightside {
    width: 100%;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  html {
    font-size: 55%;
    background-color: aqua;
  }
  .main-container {
    display: block;
  }
  .main-container .left {
    width: 100%;
  }
  .main-container .right {
    width: 100%;
  }
  .main-container2 {
    display: block;
  }
  .main-container2 .leftside {
    width: 100%;
  }
  .main-container2 .rightside {
    width: 100%;
  }
}
